[Unit]
Description=Tradeo Lab daily close_collector timer

[Timer]
OnCalendar=Mon..Fri *-*-* 16:05:00 America/New_York
Persistent=false
Unit=tradeo-lab-daily-close_collector.service

[Install]
WantedBy=timers.target
