TRADEO_TRADING_MODE=paper
TRADEO_LIVE_TRADING_ENABLED=false
TRADEO_LIVE_ARMED=false
TRADEO_LIVE_TRADING_ARMED=false
TRADEO_INTRADAY_LIVE_ENABLED=false
TRADEO_INTRADAY_PAPER_ENABLED=false
TRADEO_IBKR_READONLY=true
TRADEO_ALLOW_SYNTHETIC_MARKET_DATA=false
TRADEO_ALLOW_OPTIONS=false
TRADEO_ALLOW_MARGIN=false
TRADEO_ALLOW_SHORTS=false
TRADEO_KILL_SWITCH_ENABLED=true
TRADEO_IBKR_ACCOUNT=DU_SIMULATED
